.pixelEditorPage {
  height: calc(100vh - 56px);
  width: 100%;
  background-color: var(--tg-theme-secondary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvasContainer {
  display: grid;
  grid-template-columns: repeat(16, 30px);
  grid-template-rows: repeat(18, 30px);
  gap: 15px 0; /* 15px between rows, 0 between columns */
  height: fit-content;
  width: fit-content;
  background: #2c2c2c;
}

