.pixel {
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  border: 1px solid #007bff;
  background: #fff;
  display: inline-block;
  margin: 0;
  cursor: pointer;
}

.pixel.selected {
  background: #007bff;
}
