.scrollableDiv {
    height: calc(100vh - 56px);
    overflow: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none; 
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
}